<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/index.css">

<div class="text-center mb-3">
    <h1>All Lists</h1>
    <a href="/lists/new" class="btn btn-primary">Create List</a>
</div>
<div class="col-md-12">
    <div class="row">
        <% for (const list of lists) { %>
            <div class="col-md-5 ms-auto">
                <div class="card mb-3">
                    <div class="card-body py-0">
                        <h4 class="card-title mt-3"><%= list.title %></h4>
                        <p class="text-muted">
                            <a href="/users/<%= list.creator._id %>/public_profile" class="link-secondary">
                                -<%= list.creator.profileName %> 
                            </a>
                        </p>
                        <ul class="list-group mb-3">
                            <% for (const [i, item] of list.items.entries()) { %> 
                                <% if (i > 2) break %>
                                <li class="list-group-item">
                                    <img src="/assets/icons8-present-60.png" class="icon-present"/>
                                    <% if (item.link) { %>
                                        <a href="<%= item.link %>" target="_blank">
                                           <%= item.description %>
                                        </a>
                                    <% } else { %>
                                        <span> <%= item.description %></span>
                                    <% } %> 
                                </li>
                            <% } %>
                        </ul>
                        <div class="d-flex justify-content-between align-items-center">
                            <% if (list.items.length < 4) { %> 
                                <a href="/lists/<%= list._id %>" class="btn btn-primary mb-3">View</a>
                            <% } else { %> 
                                <a href="/lists/<%= list._id %>" class="btn btn-primary mb-3">More</a>
                            <% } %> 
                            <div class="text-muted text-small text-center">
                                <p class="mb-0">
                                    updated
                                </p>
                                <p class="updatedAt">
                                   <%= list.updatedAt %>
                                </p>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
            <% } %>
    </div>
</div>


