<% layout('layouts/boilerplate') %>

<div class="row">
	<div class="text-center">
		<h1><%= list.title %></h1>
		<p class="mb-0"><%= list.public ? 'Public': 'Private' %></p>
		<div>
			<% if (loggedInUser) { %> <% } else { %>
			<p class="text-muted">
				<a href="/users/<%= list.creator._id %>/profile" class="link-secondary">
					- <%= list.creator.displayName %>
				</a>
			</p>
			<% } %>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 m-auto mt-4">
		<div class="card mb-3">
			<div class="card-body">
				<ul class="list-group mb-3">
					<% for (const item of list.items) { %>
					<li class="list-group-item">
						<img src="/assets/icons8-present-60.png" class="icon-present" />
						<% if (item.link) { %>
						<a href="<%= item.link %>" target="_blank">
							<%= item.description %>
						</a>
						<% } else { %>
						<span> <%= item.description %></span>
						<% } %>
					</li>
					<% } %>
				</ul>
				<div class="text-muted text-small text-center">
					<p class="mb-0">
						updated -
						<span class="updatedAt"> <%= list.updatedAt %> </span>
					</p>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-between mb-3">
			<a href="/lists" class="btn btn-primary">All Lists</a>
			<% if (loggedInUser && list.creator.equals(loggedInUser._id)) { %>
			<div class="d-flex">
				<a href="/lists/<%= list._id %>/edit" class="btn btn-warning me-2"
					>Edit</a
				>
				<button
					type="button"
					class="btn btn-danger ms-3"
					data-bs-toggle="modal"
					data-bs-target="#delete-list"
				>
					Delete
				</button>

				<!-- Modal Confirm Delete -->
				<%- include('./modals/delete') %>
			</div>
		</div>
		<% } %>
	</div>
</div>
