<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center"><%= list.title %></h1>
    <div class="col-lg-4 col-md-6 ms-auto me-auto">
		<div class="card mb-3">
			<div class="card-body">
				<% for (const item of list.items) { %> 
                    <% if(item.link) { %>
                        - <a href="<%= item.link %>" class="card-text" target="_blank">
                            <%= item.description %>
                        </a>
                    <% } else { %>     
				        <p class="card-text">- <%= item.description %></p>
                    <% } %> 
				<% } %>
			</div>
		</div>
        <div class="d-flex justify-content-between mb-3">
            <a href="/lists/<%= list._id %>/edit" class="btn btn-secondary">Edit</a>
            <form action="/lists/<%= list._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">
                    Delete
                </button>
            </form>
        </div>
        <a href="/lists" class="">Back</a>
	</div>
</div>

