<link rel="stylesheet" href="/styles/navbar.css">

<nav class="navbar sticky-top navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <% if(loggedInUser) { %>
      <a class="navbar-brand" href="/users/<%= loggedInUser._id %>">
        <% } else { %>
          <a class="navbar-brand" href="/">
            <% } %>
              <img src="/assets/santa-hat.png" alt="santa hat" height="42" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
            <div class="navbar-nav ms-auto">
              <li>
                <a class="nav-link" href="/lists">Lists</a>
              </li>
              <li>
                <a class="nav-link" href="/parties">Parties</a>
              </li>
              <% if (loggedInUser) { %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/users/<%= loggedInUser._id %>" data-bs-toggle="dropdown"
                    aria-expanded="false" role="button">
                    Hi, <%= loggedInUser.displayName %>
                    <% if (loggedInUser.notifications.length) { %>
                      <span class="new-notifications-alert"></span>
                    <% } %>  
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="/">Dashboard
                        <%if (loggedInUser.notifications.length > 0) { %>
                          <span class="new-notifications-number"><%=loggedInUser.notifications.length %></span>
                        <% } %>
                      </a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="/auth/logout">Logout</a>
                    </li>
                  </ul>
                </li>
                <li class="d-none d-md-block">
                  <a href="/">
                    <img src="<%= loggedInUser.avatar %>" class="avatar-nav me-2" alt="avatar">
                  </a>
                </li>
                <%} else { %>
                  <a class="nav-link" href="/auth/login">Login</a>
                  <% } %>
            </div>
          </div>
  </div>
</nav>