<div class="row pagination-container">
  <div class="col-12 d-flex justify-content-center">
    <nav aria-label="...">
      <ul class="pagination">
        <% if (pages.current === 0) { %>
          <li class="page-item disabled">
            <span class="page-link">Previous</span>  
          </li>
          <% } else { %> 
            <li class="page-item">
              <a 
                class="page-link"
                <% if (searchBy) { %>
                  href="<%= pages.baseURL %><%= pages.current-1 %>&searchBy=<%= searchBy %>&searchString=<%= searchString %>"
                <% } else { %>
                  href="<%= pages.baseURL %><%= pages.current - 1 %>"
                <% } %>   
              >
                Previous
              </a>
            </li>
          <% } %> 
        <% for (let i=0; i < pages.numPages; i++) { %> 
          <li 
            class="page-item <%= i === pages.current ? 'active' : '' %>"
          > 
            <a 
              class="page-link" 
              <% if (searchBy) { %> 
                href="<%= pages.baseURL %><%= i %>&searchBy=<%= searchBy %>&searchString=<%= searchString %>"
              <% } else { %> 
                href="<%= pages.baseURL %><%= i %>"
              <% } %> 
              >
                <%= i + 1 %>
              </a>
          </li>
        <% } %> 
        <% if (!pages.numPages || pages.current === pages.numPages - 1) { %> 
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>
          <% } else { %> 
          <li class="page-item">
            <a class="page-link" href="<%= pages.baseURL %><%= pages.current + 1 %>">Next</a>
          </li>
          <% } %> 
        </li>
      </ul>
    </nav>
  </div>
</div>