<% layout('layouts/boilerplate') %>

<div class="text-center mb-3">
    <h1 class="">All Parties</h1>
    <a href="/parties/new" class="btn btn-primary">New Party</a>
</div>
<div class="col-md-12">
    <div class="row">
        <% for (const party of parties) { %>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title"><%= party.name %></h4>
                        <p class="text-muted">
                            <% if(party.isPrivate) {%>
                                Private 
                            <% } else { %>
                                Public
                            <% } %>  
                        </p>
                        <p>Join by: 
                            <span class="date-full">
                                <%= party.joinBy %>
                            </span>
                        </p>
                        <p>End Date: 
                            <span class="date-full">
                                <%= party.endsOn %>
                            </span>
                        </p>
                        <p>Members: <%= party.members.length %>  </p>
                        <p>Creator: 
                            <a href="/users/<%= party.creator._id %>/public_profile" class="link-secondary">
                                <%= party.creator.profileName %> 
                            </a></p>
                        <a href="/parties/<%= party._id %>" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
</div>
