<% layout('layouts/boilerplate') %>

<h1 class="text-center"><%= party.title %></h1>
<div class="col-md-12">
	<div class="row">
		<div class="col-md-6 m-auto">
			<div class="card mb-3">
				<div class="card-body text-center pb-0">
					<h6 class="mb-0">Started By:</h6>
          <h5>
            <a href="/users/<%= party.creator._id %>/profile">
              <%= party.creator.displayName %>
            </a>
          </h5>
          <div class="d-flex justify-content-around">
            <div>
              <h6 class="mb-0">Names</h6>
              <h6 class="mb-0">Drawn:</h6>
              <h5 class="date-full mb-0"><%= party.selectionsOn %></h5>
            </div>
            <div>
              <h6 class="mb-0">Gifts</h6>
              <h6 class="mb-0">Exchanged:</h6>
              <h5 class="date-full mb-0"><%= party.exchangeOn %></h5>
            </p>
            </div>
          </div>
				</div>
				<% if (loggedInUser && party.creator._id.equals(loggedInUser._id)) { %>
          <div class="party-secret-content text-center mt-0 mb-3">
            <h5>
              Secret Code:
              <span class="link text-small" id="party-secret-show">show</span>
            </h5>
            <h3 class="hidden" id="party-secret"><%= party.secret %></h3>
            <button 
              id="copy-invite-link"
              data-party-id = "<%= party._id %>""
              data-party-secret= "<%= party.secret%>"
              title="Copy link to clipboard"
            >
              Copy invite link
            </button>
          </div>

          <div class="text-center mb-3 d-flex justify-content-center">
            <form id="make-selections" action="/parties/<%= party._id %>/selections" method="POST"/>
            <a href="/parties/<%= party._id %>/edit" class="btn btn-warning">
              Edit
            </a>
            <button
              type="button"
              class="btn btn-danger ms-3"
              data-bs-toggle="modal"
              data-bs-target="#delete-party"
            >
              Delete
            </button>
            <button type="submit" form="make-selections" class="btn btn-primary ms-3">Make Selections</button>
            <!-- Modal Confirm Delete -->
            <%- include('./modals/delete') %> 
          </div>
				<% } else { %>
          <div class="text-center mb-3">
            <button
            type="button"
            class="btn btn-primary ms-3"
            data-bs-toggle="modal"
            data-bs-target="#party-join"
            <% if(party.status !== 'open' || party.isMember) { %> 
              disabled
            <% } %>
            >
              Join
            </button>
          </div>
          <%- include('./modals/join') %> 
        <% } %> 
			</div>
		</div>
	</div>
  <% if (selection) { %>
        <div class="row">
          <div class="col-12">
            <div class="col-md-6 m-auto">
              <div class="card mb-3">
                <div class="card-header">
                  <h4 class="text-center m-0">Selection:</h4>
                  <div class="card-body">
                    <h5 class="text-center"><%=selection.recipient.displayName %></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>        
    <% } else if(party.exclusions.length || exclusionRequests.length) {%>  
    <div class="row">
      <div class="col-12">
        <div class="col-md-6 m-auto">
          <div class="card mb-3">
            <div class="card-header">
              <h4 class="text-center m-0">Excluded members:</h4>
            </div>
            <div class="card-body excluded-members-content">
              <%if (exclusionRequests.length) { %>
              <div class="pending-exclusions">
                <h6>Pending:</h6>
                <ul class="excluded-members p-0">
                  <% for (const request of exclusionRequests) {%>
                      <% if (request.excluded_id._id.toString() === loggedInUser._id.toString()) { %>
                        <form id="exclusion-confirm" action="/parties/<%=party._id%>/exclusions/resolve?_method=PUT&exclusion_id=<%= request._id %>&resolve=confirm" method="POST"></form>
                        <form id="exclusion-reject" action="/parties/<%=party._id%>/exclusions/resolve?_method=PUT&exclusion_id=<%= request._id %>&resolve=reject" method="POST"></form>
                        <p><%= request.member_id.displayName %>:
                          <button type="submit" form="exclusion-confirm" class="btn btn-success btn-sm">Confirm</button> <button type="submit" form="exclusion-reject" class="btn btn-danger btn-sm">Reject</button></span> 
                        </p>
                        <% } %>
                        <% if (request.member_id._id.toString() === loggedInUser._id.toString()){ %> 
                          <p><%= request.excluded_id.displayName %>:
                            <span class="text-muted">pending</span> 
                          </p>
                      <% } %>
                  <% } %>
                </ul>
              </div>
              <%}%>
              <% if (party.exclusions.length) { %> 
              <div class="confirmed-exclusions excluded-members">
                <h6>Confirmed:</h6>
                <ul class="p-0">
                  <% for (const excluded of party.exclusions) {%>
                      <% if (excluded.excluded_id._id.toString() === loggedInUser._id.toString()) {%>
                        <p><%= excluded.member_id.displayName %></p>
                      <% } %>
                      <% if (excluded.member_id._id.toString() === loggedInUser._id.toString()) { %>
                        <p><%= excluded.excluded_id.displayName %></p>
                      <% } %>
                  <% } %>
                </ul>
              </div>
              <%}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%}%>
	<div class="row">
    <div class="col-12">
      <div class="col-lg-8 col-md-10 m-auto mb-3">
        <div class="card p-4">
          <div class="card-title row text-center">
            <div class="col-sm-6">
              <h2>Members</h2>
              <% if (loggedInUser && party.creator._id.equals(loggedInUser._id)) { %>
                <div class="mb-3">
                  <a href="/parties/<%= party._id %>/members/edit" class="btn btn-secondary">
                    Remove
                  </a>
                  <button
                  type="button" 
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#party-exclude"
                  >
                  Exclude
                  </button>
                </div>
              <% } else if (party.isMember) { %>
                <div class="mb-2">
                  <button
                  type="button" 
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#party-leave"
                  >
                  Leave
                  </button>
                  <button
                  type="button" 
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#party-exclude"
                  >
                  Exclude
                  </button>
                </div>
                <%- include('./modals/leave') %>
              <% } %> 
              <%- include('./modals/exclude') %>
            </div>
            <div class="col-sm-6">
              <h2>Lists</h2>
              <% if (party.isMember) { %> 
                <div class="mb-2">
                  <button
                  type="button" 
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#add-list"
                  >
                  <%= lists[loggedInUser.id] ? 'Change' : 'Add' %>
                  </button>
                </div>
                <!-- Modal Add List -->
                <%- include('./modals/addList') %> 
              <% } %> 
            </div>
          </div>
          <div class="card-body p-0">
            <ul class="list-group text-center">
              <% for (const member of party.members) { %>
                <li class="list-group-item p-2">
                  <div class="row">
                    <div class="col-6">
                      <a href="/users/<%= member._id %>/profile">
                        <%= member.displayName %>
                      </a>
                      <span class="text-muted"><%= member._id.toString() === party.creator._id.toString() ? '*' : '' %></span>
                    </div>
                    <div class="col-6">
                      <% if (lists[String(member._id)]) { %> 
                        <a href="/lists/<%= lists[String(member._id)]._id %>">
                          <%= lists[member._id].title %>
                        </a>
                        <% } else { %>
                          <span class="text-muted">n/a</span>
                        <% } %>
                    </div>
                  </div>
                </li>
            <% } %>
            </ul>
          </div>
          <p class="text-small text-muted mt-2 mb-0 ms-auto">* party creator</p>
        </div>
      </div>
    </div>
	</div>
</div>


<script src="/js/parties.js"></script>