<% layout('layouts/boilerplate') %>

<h1 class="text-center"><%= party.title %></h1>
<div class="col-md-12">
	<div class="row">
		<div class="col-md-6 m-auto">
			<div class="card mb-3">
				<div class="card-body text-center pb-0">
					<h6 class="mb-0">Started By:</h6>
          <h5>
            <a href="/users/<%= party.creator._id %>/profile">
              <%= party.creator.displayName %>
            </a>
          </h5>
          <div class="d-flex justify-content-around">
            <div>
              <h6 class="mb-0">Draw</h6>
              <h6 class="mb-0">Names:</h6>
              <h5 class="date-full mb-0"><%= party.selectionsOn %></h5>
            </div>
            <div>
              <h6 class="mb-0">Exchange</h6>
              <h6 class="mb-0">Gifts:</h6>
              <h5 class="date-full mb-0"><%= party.exchangeOn %></h5>
            </p>
            </div>
          </div>
				</div>
				<% if (loggedInUser && party.creator._id.equals(loggedInUser._id)) { %>
          <div class="party-secret-content text-center mt-0 mb-3">
            <h5>
              Secret Code:
              <span class="link text-small" id="party-secret-show">show</span>
            </h5>
            <h3 class="hidden" id="party-secret"><%= party.secret %></h3>
          </div>
          <div class="text-center mb-3 d-flex justify-content-center">
            <a href="/parties/<%= party._id %>/edit" class="btn btn-warning">
              Edit
            </a>
            <button
              type="button"
              class="btn btn-danger ms-3"
              data-bs-toggle="modal"
              data-bs-target="#delete-party"
            >
              Delete
            </button>

            <!-- Modal Confirm Delete -->
            <%- include('./modals/delete') %> 
          </div>
				<% } else { %>
          <div class="text-center mb-3">
            <button
            type="button"
            class="btn btn-primary ms-3"
            data-bs-toggle="modal"
            data-bs-target="#party-join"
            <% if(party.status !== 'open' || party.isMember) { %> 
              disabled
            <% } %>
            >
              Join
            </button>
          </div>
          <%- include('./modals/join') %> 
        <% } %> 
			</div>
		</div>
	</div>
	<div class="row">
    <div class="col-12">
      <div class="col-lg-8 col-md-10 m-auto mb-3">
        <div class="card p-4">
          <div class="card-title row text-center">
            <div class="col-sm-6">
              <h2>Members</h2>
              <% if (loggedInUser && party.creator._id.equals(loggedInUser._id)) { %>
                <div class="mb-3">
                  <a href="/parties/<%= party._id %>/members/edit" class="btn btn-secondary">
                    Remove
                  </a>
                </div>
              <% } else if (party.isMember) { %>
                <div class="mb-2">
                  <button
                  type="button" 
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#party-leave"
                  >
                  Leave
                  </button>
                </div>
                <%- include('./modals/leave') %>
              <% } %> 
            </div>
            <div class="col-sm-6">
              <h2>Lists</h2>
              <% if (lists[loggedInUser.id]) { %> 
                <div class="mb-2">
                  <button
                  type="button" 
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#add-list"
                  >
                  <%= lists[loggedInUser.id] ? 'Change' : 'Add' %>
                  </button>
                </div>
                <!-- Modal Add List -->
                <%- include('./modals/addList') %> 
              <% } %> 
            </div>
          </div>
          <div class="card-body p-0">
            <ul class="list-group text-center">
              <% for (const member of party.members) { %>
                <li class="list-group-item p-2">
                  <div class="row">
                    <div class="col-6">
                      <a href="/users/<%= member._id %>/profile">
                        <%= member.displayName %>
                      </a>
                    </div>
                    <div class="col-6">
                      <% if (lists[String(member._id)]) { %> 
                        <a href="/lists/<%= lists[String(member._id)]._id %>">
                          <%= lists[member._id].title %>
                        </a>
                        <% } else { %>
                          <span class="text-muted">n/a</span>
                        <% } %>
                    </div>
                  </div>
                </li>
            <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>


<script src="/js/parties.js"></script>