<% layout('layouts/boilerplate') %>

<div class="text-center mb-3">
	<div id="avatar-box">
  <% if (user.avatar) { %> 
		<img class="avatar-profile" src="<%= user.avatar %>" alt="avatar" />
  <% } else { %>
    <img class="avatar-profile" src="/assets/defaultAvatar.png" alt="avatar" />
  <% } %> 
	</div>
	<h1 class="mb-0"><%= user.displayName %></h1>
	<p><a href="/users/<%= user._id %>/update">Update profile</a></p>
</div>
<div class="row">
  <div class="col-md-4 col-sm-6 m-auto">
        <div class="card py-2 px-4">
          <h2 class="card-title m-0 text-center">Notifications</h2>
          <div class="card-body p-0">
            <ul class="list-group pt-2">
              <% for (let i=0; i<user.notifications.length; i++) { %>
                <li class="notification-message fst-italic list-group-item">
                  <form
                  action="/users/<%=user.id%>/notifications/<%=user.notifications[i]._id%>?_method=PUT"
                  method="POST"
                  class="hidden"
                  id="dismiss-notification-<%= i %>"
                >
                </form>
                <button type="submit" form="dismiss-notification-<%= i %>" class="dismiss-notification">X</button>
                    <p><%= user.notifications[i].content %></p>
                </li>
              <% } %> 
            </ul>
          </div>
      </div>
  </div>
</div>
<div class="row">
	<div class="col-md-4 col-sm-6 mt-3">
		<div class="card py-2 px-4 text-center">
			<h2 class="card-title m-0">Lists</h2>
			<div class="mt-3 mb-3">
				<a href="/lists/new" class="btn btn-secondary">New</a>
			</div>
			<div class="card-body p-0">
        <ul class="list-group">
          <% for (const list of lists) { %>
          <li class="list-group-item text-ellipsis">
            <a href="/lists/<%= list._id %>"> <%= list.title %> </a>
          </li>
          <% } %>
        </ul>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 mt-3">
		<div class="card py-2 px-4 text-center">
      <h2 class="card-title m-0">Parties</h2>
      <div class="mt-3 mb-3">
        <a href="/parties/new" class="btn btn-secondary">Create</a>
      </div>
      <div class="card-body p-0">
				<ul class="list-group">
					<% for (const party of parties) { %>
					<li class="list-group-item border-0 text-ellipsis">
						<a href="/parties/<%= party._id %>"> <%= party.title %> </a>
					</li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
  <div class="col-md-4 col-sm-6 mt-3">
		<div class="card py-2 px-4">
      <h2 class="card-title m-0 text-center">Selections</h2>
      <div class="card-body p-0">
        <ul class="list-group pt-2">
          <% for (const selection of selections) { %>
            <li class="list-group-item text-center border-0 text-ellipsis">
              <a href="/users/<%=selection.recipient._id%>/profile" class="me-1"><%=selection.recipient.displayName%></a> - <a href="/parties/<%=selection.party._id%>" class="ms-1"><%=selection.party.title%></a></a></a>
            </li>
          <% } %> 
				</ul>
			</div>
		</div>
	</div>
</div>
