<% layout('layouts/boilerplate') %> 

<div class="text-center mb-3">
  <div id="avatar-box">
    <% if (currentUser.avatar) { %> 
      <img class="avatar-profile" src="<%= currentUser.avatar %>" alt="avatar">
    <% } else { %> 
      <img id="avatar-profile" src="/assets/snowman.png" alt="avatar">
    <% } %> 
  </div>
  <h1 class="mb-0"><%= currentUser.displayName %></h1>
  <% if (loggedInUser){ %> 
    <p><a href="/users/<%= currentUser.id %>/update">Update profile</a></p>
  <% } %> 
</div>

<div class="row d-flex justify-content-between px-1">
    <div class="col-md-5 col-lg-3 ms-auto me-auto mt-3">
        <div class="row">
            <div class="card py-3">
                <h4 class="card-title text-center">My Lists</h4>
                <div class="card-body text-center">
                    <ul class="list-group">
                    <% for (const list of currentUserLists) { %> 
                        <li class="list-group-item">
                            <a href="/lists/<%= list._id %>">
                                <%= list.title %> 
                            </a>
                        </li>
                    <% } %> 
                    </ul>
                    <div class="text-center mt-3">
                        <a href="/lists/new" class="btn btn-primary">New List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 ms-auto me-auto mt-3">
        <div class="row">
            <div class="card px-3 py-3">
                <h4 class="card-title text-center">My Parties</h4>
                <div class="card-body text-center">
                    <ul class="list-group">
                        <% for (const party of parties) { %> 
                            <li class="list-group-item">
                                <a href="/parties/<%= party._id %>">
                                    <%= party.name %> 
                                </a>
                            </li>
                        <% } %> 
                    </ul>
                    <div class="text-center mt-3">
                        <a href="/parties/new" class="btn btn-primary">Create Party</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 ms-auto me-auto mt-3">
        <div class="row">
            <div class="card px-3 py-3">
                <h4 class="card-title text-center">Grab Bag Picks</h4>
                <div class="card-body text-center">
                    <ul class="list-group">
                        <% for (const selection of currentUser.selections) { %> 
                            <li class="list-group-item">
                                <a href="/users/<%= selection.giftee._id %>/lists">
                                    <%= selection.giftee.profileName  %> 
                                </a>
                                |
                                <a href="/parties/<%= selection.party._id %> ">
                                    <%= selection.party.name  %> 
                                </a>
                            </li>
                        <% } %> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/users.js"></script>