<% layout('layouts/boilerplate') %>

<div class="text-center mb-3">
	<div id="avatar-box">
  <% if (user.avatar) { %> 
		<img class="avatar-profile" src="<%= user.avatar %>" alt="avatar" />
  <% } else { %>
    <img class="avatar-profile" src="/assets/defaultAvatar" alt="avatar" />
  <% } %> 
	</div>
	<h1 class="mb-0"><%= user.displayName %></h1>
	<p><a href="/users/<%= user._id %>/update">Update profile</a></p>
</div>

<div class="row">
	<div class="col-md-4 col-sm-6 mt-3">
		<div class="card py-2 px-4 text-center">
			<h2 class="card-title m-0">Lists</h2>
			<div class="mt-3 mb-3">
				<a href="/lists/new" class="btn btn-secondary">New</a>
			</div>
			<div class="card-body p-0">
        <ul class="list-group">
          <% for (const list of lists) { %>
          <li class="list-group-item text-ellipsis">
            <a href="/lists/<%= list._id %>"> <%= list.title %> </a>
          </li>
          <% } %>
        </ul>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 mt-3">
		<div class="card py-2 px-4 text-center">
      <h2 class="card-title m-0">Parties</h2>
      <div class="mt-3 mb-3">
        <a href="/parties/new" class="btn btn-secondary">Create</a>
      </div>
      <div class="card-body p-0">
				<ul class="list-group">
					<% for (const party of parties) { %>
					<li class="list-group-item border-0 text-ellipsis">
						<a href="/parties/<%= party._id %>"> <%= party.title %> </a>
					</li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
  <div class="col-md-4 col-sm-6 mt-3">
		<div class="card py-2 px-4">
      <h2 class="card-title m-0 text-center">Coming Soon...</h2>
      <div class="card-body p-0">
        <ul class="list-group pt-2">
          <li class="fst-italic list-group-item text-small">- Show liked/favorited lists & users</li>
          <li class="fst-italic list-group-item text-small">- Show messages from users</li>
          <li class="fst-italic list-group-item text-small">- Show notifications of updates to parties & lists</li>
				</ul>
			</div>
		</div>
	</div>
</div>
