<% layout('layouts/boilerplate') %> 

<h1 class="mb-0 text-center"><%= user.profileName %></h1>


<div class="row d-flex justify-content-between px-1">
    <div class="col-md-5 col-lg-4 ms-auto me-auto mt-3">
        <div class="row">
            <div class="card py-3">
                <h4 class="card-title text-center">Lists</h4>
                <div class="card-body text-center">
                    <ul class="list-group">
                    <% for (const list of userLists) { %> 
                        <li class="list-group-item">
                            <a href="/lists/<%= list._id %>">
                                <%= list.title %> 
                            </a>
                        </li>
                    <% } %> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-lg-4 ms-auto me-auto mt-3">
        <div class="row">
            <div class="card px-3 py-3">
                <h4 class="card-title text-center">Parties</h4>
                <div class="card-body text-center">
                    <ul class="list-group">
                        <% for (const party of parties) { %> 
                            <li class="list-group-item">
                                <a href="/parties/<%= party._id %>">
                                    <%= party.name %> 
                                </a>
                            </li>
                        <% } %> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/users.js"></script>